* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.box1 {
    height: 400px;
    width: 400px;
    border-radius: 5%;
    background-color: rgb(9, 9, 9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    color: #fff;
    position: relative;
}

.box1:hover {
    transform: translateX(-5px);
    z-index: 2;
}

h1 {
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin: 0 0 10px 0;
}

img {
    height: 20vh;
    width: 30vh;
    transition: transform 0.5s ease;
    margin-bottom: 10px;
}

img:hover {
    transform: scale(1.1);
}

a {
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

.box2 {
    height: 600px;
    width: 450px;
    background: linear-gradient(to bottom right, rgba(9, 9, 9, 1), rgba(46, 46, 50, 1));
    display: none;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.box2:hover {
    background: linear-gradient(to bottom right, rgba(46, 46, 50, 1), rgba(9, 9, 9, 1));
    transform: scale(1.05);
}

.box2 li {
    list-style: none;
    margin-bottom: 10px;
}

.box2 ol:first-child {
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
    color: #f0c419;
}

.hide {
    display: none;
}